@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Main';
  src: url('/PPPangaia-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

 
.transparent-text{
    -webkit-text-stroke: 2px #0f0500;
    color: transparent;
   
}
body{
  font-family: 'Main';
  
}
