@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Main";
  src: url("/PPPangaia-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.transparent-text {
  -webkit-text-stroke: 2px #0f0500;
  color: transparent;
}
body {
  font-family: "Main";
}

.hero-clip {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.theme-dark-light {
  @apply text-brown-1000 dark:text-beige 
         bg-beige dark:bg-brown-1000 
         selection:bg-brown-1000 dark:selection:bg-beige 
         selection:text-beige dark:selection:text-brown-1000;
}
